.DanhSachNguoiDung{
    display: flex;
    flex: 4 1;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
}

.DanhSachNguoiDung__container{
    width:90%;
}

.DanhSachNguoiDung__container .ServiceTableDetailTitles_Item:nth-child(7){
    width:10%;
}

.DanhSachNguoiDung__container .ServiceTableDetailTitles_Item:nth-child(5){
    width:10%;
}

.DanhSachNguoiDung__container .ServiceTableDetailTitles_Item:nth-child(4){
    width:22%;
}

.DanhSachNguoiDung__container .ServiceTableDetailTitles_Item:nth-child(6){
    width:18%;
}

.DanhSachNguoiDung__container .ServiceTableDetailTitles_Item:nth-child(1){
    width:14%;
}

.DanhSachNguoiDung__container .ServiceTableDetailTitles_Item:nth-child(2){
    width:13%;
}


.DanhSachNguoiDung__container .ServiceTableDetailTitles_Item:nth-child(3){
    width:13%;
}

.DanhSachNguoiDung .ServiceAdd{
    top:26.4%;
}