.trangcanhan{
    position: relative;
    width: 1440px;
    height: 810px;

    /* BG */

    background: #F7F7F7;
    border-radius: 16px;
}
.total-container{
    background-color: #D4D4D7;
    height: 100%;
    width: 100%;
}

.container .ben_trai{
    background-color:white;
    width: 15%;
    height: 900px;
    float: left;
}

.container .ben_trai .logo-login img{
    width: 40%;
    height: 8%;
    margin: 4% 30% 0px 30%;

}
.container .ben_trai ul{
    padding: 54px 24px 0 24px;
    background-color: white;
}
.container .ben_trai ul li{
    list-style: none;
    height: 48px;

}
.container .ben_trai ul li img{
    filter: invert(0.2);
    height: 14px;
}
.container .ben_trai ul li div{
    list-style: none;
    padding: 12px 0px 12px 0px;
    font-size: 16px;
    color:#7E7D88;
    line-height: 24px;
    line-height: 110%;
}
.container .ben_trai ul li div a{
    margin-left: 8px;
}
.container .ben_trai ul li span{
    color:#A9A9B0;
    padding: 3px 0;
    float: right;
    width: 1px;
}
.container .ben_trai ul li .logout-button{
    position: absolute;
    padding: 12px 70px 12px 15px;
    bottom: 0;
    background-color: #FFF2E7;
    border-radius: 8px;
    size: 16px;
    line-height: 24px;
    line-height: 110%;
    color: #FF7506;
    margin: 0px 0px 200px 0px;
}

.container .ben_phai{
    width: 85%;
    height: 100vh;
    float: right;
}
.container .ben_phai .top-content{
    background-color: cornsilk;
    margin: 2.5% 0 0 2%;
}
.container .ben_phai .ben_tren .tt_phai{
    float: left;
}
.container .ben_phai .ben_tren .tt_trai p{
    position: static;
    width: 168px;
    height: 30px;
    left: 0px;
    top: 5px;

    /* 20/20 Bold */

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-400 */

    color: #FF9138;


}
.container .ben_phai .ben_tren .tt_phai{
    position: absolute;
    width: 172px;
    height: 42px;
    left: 1080px;
    bottom: 730px;

}
.container .ben_phai .ben_tren .tt_phai .alarm-button div p{
    padding: 6px;
    background-color: #FFF2E7;
    color:#FFAC6A;
    border-radius: 32px;
    margin: 6px 0 0 0;
}
.container .ben_phai .ben_tren .tt_phai .user-account div{
    padding: 0px 0px 0px 24px ;
    display: flex;
}
.container .ben_phai .ben_tren .tt_phai div div{
    float: left;
}
.container .ben_phai .ben_tren .tt_phai .user-account div p{
    margin: 0;
}
.container .ben_phai .middle-content{
    background-color: white;
    border-radius: 6px;
    margin: 10% 15% 30% 2%;
    padding: 5% 2% 5% 2%;
    display: flex;
    position: relative;
}
.container .ben_phai .middle-content .tt_trai,.middle-title,.tt_phai{
    margin: 2%;
    width: 432px;
}
.container .ben_phai .middle-content .tt_trai{
    text-align: center;
}

.container .ben_phai .middle-content .tt_trai .top-img .logo-camera{
    border: solid 1 px;
    padding: 11px;
    background-color: #FF7506;
    border-radius:20px ;
    top: 290px;
    left: 300px;
    position: absolute;
    border: 2px solid white;
    color: white;
}
.container .ben_phai .middle-content .tt_trai .bottom-username{
    font-size: 24px;
    line-height: 36px;
    line-height: 110%;
    color: #282739;
}

.container .ben_phai .middle-content div div div input{
    width: 100%;
    height: 44px;
    background-color: #EAEAEC;
    border: none;
    border-radius: 6px;
    padding-left: 16px;
}
.container .ben_phai .middle-content div div div p{
    border: none;
    border-radius: 6px;
}
.container .ben_phai .middle-content .middle-title p{
    border: none;
    border-radius: 6px;
} 